menuconfig FB_TFT
	tristate "Support for small TFT LCD display modules"
	depends on FB && SPI && GPIOLIB
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_SYS_FOPS
	select FB_DEFERRED_IO
	select FB_BACKLIGHT

config FB_TFT_HX8340BN
	tristate "FB driver for the HX8340BN LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for HX8340BN

config FB_TFT_ILI9320
	tristate "FB driver for the ILI9320 LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for ILI9320

config FB_TFT_ILI9325
	tristate "FB driver for the ILI9325 LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for ILI9325

config FB_TFT_ILI9341
	tristate "FB driver for the ILI9341 LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for ILI9341

config FB_TFT_PCD8544
	tristate "FB driver for the PCD8544 LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for PCD8544

config FB_TFT_ST7735R
	tristate "FB driver for the ST7735R LCD Controller"
	depends on FB_TFT
	help
	  Generic Framebuffer support for ST7735R

config FB_FLEX
	tristate "Generic FB driver for TFT LCD displays"
	depends on FB_TFT
	help
	  Generic Framebuffer support for TFT LCD displays.

config FB_ADAFRUIT22
	tristate "FB driver for the Adafruit 2.2\" LCD display"
	depends on FB_TFT
	help
	  Framebuffer support for the Adafruit 2.2\" LCD display in 9-bit SPI mode.

config FB_ADAFRUIT18
	tristate "FB driver for the Adafruit 1.8\" LCD display"
	depends on FB_TFT
	help
	  Framebuffer support for the Adafruit 1.8\" LCD display in 8-bit SPI mode.

config FB_R61505U
	tristate "FB driver for the R61505U LCD display controller"
	depends on FB_TFT
	help
	  Framebuffer support for the R61505U LCD display controller in 8-bit SPI mode.

config FB_ILI9341
	tristate "FB driver for the ILI9341 LCD display controller"
	depends on FB_TFT
	help
	  Framebuffer support for the ILI9341 LCD display controller in 8/9-bit SPI mode.

config FB_SAINSMART18
	tristate "FB driver for the Sainsmart 1.8\" LCD display"
	depends on FB_TFT
	help
	  Framebuffer support for the Sainsmart 1.8\" LCD display in 8-bit SPI mode.

config FB_SAINSMART32
	tristate "FB driver for the Sainsmart 3.2\" LCD display"
	depends on FB_TFT

config FB_NOKIA3310
	tristate "FB driver for the Nokia 5110/3310 LCD display"
	depends on FB_TFT
	help
	  Framebuffer support for the Nokia 5110/3310 LCD display in 8-bit SPI mode.

config FB_ITDB28
	tristate "FB driver for the ITDB02-28 LCD display"
	depends on FB_TFT
	help
	  Framebuffer support for the ITDB02-2.8 LCD display in 8-bit parallel mode.

config FB_HY28A
	tristate "FB driver for the HY28A SPI LCD display"
	depends on FB_TFT

config FB_SSD1351
	tristate "FB driver for the SSD1351 1.5\" OLED display"
	depends on FB_TFT
	help
	  Framebuffer support for the SSD1351 1.5\" OLED display in 8-bit SPI mode.

config FB_TFT_FBTFT_DEVICE
	tristate "Module to for adding FBTFT devices"
	depends on FB_TFT

config TOUCHSCREEN_ADS7846_DEVICE
	tristate "Module for adding an ads7846 device"
	depends on SPI
